In [1]:
import pandas as pd

In [2]:
iphone_df=pd.read_csv("data/iphone.csv", index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
# 인덱스 뽑는법
# loc.['row이름','col이름']
iphone_df.loc['iPhone 8','메모리']

'2GB'

In [4]:
iphone_df.loc['iPhone X', :] 
# [ : ] ->은 처음부터 끝까지 다 받아오라는 거다.
# 한 행을 다 가져오는 거다.

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [5]:
iphone_df.loc['iPhone X'] # 이거도 다 뽑음

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [6]:
type(iphone_df.loc['iPhone X'])
# pandas의 series 라고 나오는데 이건 pandas의 1차원 이라는 뜻이다.
# 이게 Iphone X 에 대한 한 줄만 나오니까 1차원 맞지 ㅇㅇ

pandas.core.series.Series

In [7]:
iphone_df.loc[:,'출시일']
# 한 col에 대한 모든 row를 보고 싶을때 (세로 한줄)

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [8]:
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [9]:
iphone_df[['출시일','메모리']]
# 동시에 두 가지 col 뽑아 내는법.
# list 형식으로 만들어서 내야 함

                      출시일  메모리
iPhone 7       2016-09-16  2GB
iPhone 7 Plus  2016-09-16  3GB
iPhone 8       2017-09-22  2GB
iPhone 8 Plus  2017-09-22  3GB
iPhone X       2017-11-03  3GB
iPhone XS      2018-09-21  4GB
iPhone XS Max  2018-09-21  4GB

In [10]:
iphone_df.loc[['iPhone X', 'iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [11]:
type(iphone_df.loc[['iPhone X', 'iPhone 8']])
# 2차원 이기 때문에 type 이 DataFrame 이다

pandas.core.frame.DataFrame

In [12]:
iphone_df.loc['iPhone 8' : 'iPhone XS']
# 슬라이싱

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [13]:
iphone_df.loc[:,'메모리':'Face ID']
# col 인덱싱

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

In [14]:
### row 든 col 이든 원하는 값만 추출 하고 싶을때는 [ ] 로 묶어서 내면 된다.

In [15]:
iphone_df.loc[[True,False,True,True,False,True,False]] #boolean 타입으로 인덱싱
# True에 맞는 것(row)만 나온다.

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [17]:
iphone_df.loc[:,[True,False,False,True,True]]# col을 boolean으로 인덱싱

                      출시일     출시 버전 Face ID
iPhone 7       2016-09-16  iOS 10.0      No
iPhone 7 Plus  2016-09-16  iOS 10.0      No
iPhone 8       2017-09-22  iOS 11.0      No
iPhone 8 Plus  2017-09-22  iOS 11.0      No
iPhone X       2017-11-03  iOS 11.1     Yes
iPhone XS      2018-09-21  iOS 12.0     Yes
iPhone XS Max  2018-09-21  iOS 12.0     Yes

In [18]:
iphone_df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [20]:
iphone_df.loc[iphone_df['디스플레이'] > 5]
# 조건으로 인덱싱

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [24]:
iphone_df.loc[(iphone_df['Face ID'] == 'Yes') & (iphone_df['디스플레이'] > 5)]
# and = & , or

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [25]:
iphone_df.iloc[2,4] # 2번 row 4번 col

'No'

In [26]:
iphone_df.iloc[[1,3],[1,4]] # 이건 앞에 [1,3]이 row(1번 3번) [1,4]가 col(1번 4번)

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [27]:
iphone_df.iloc[3:, 1:4] # 앞은 row 뒤는 col (슬라이싱)

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

In [44]:
ppa = pd.read_csv("data/DataFrameIndexing.csv")
ppa

             위치로 인덱싱하기                  기본 형태    단축 형태
0           하나의 row 위치             df.iloc[8]        0
1          row 위치의 리스트     df.iloc[[4, 5, 3]]        0
2     row 위치의 리스트 슬라이싱           df.iloc[2:5]  df[2:5]
3        하나의 column 위치          df.iloc[:, 3]        0
4       column 위치의 리스트  df.iloc[:, [3, 5, 6]]        0
5  column 위치의 리스트 슬라이싱        df.iloc[:, 3:7]        0

In [49]:
ppb = pd.read_csv("data/DataFrameIndexing2.csv")
ppb

            이름으로 인덱싱하기                          기본 형태                   단축 형태
0           하나의 row 이름                   df.loc[row4]                       0
1          row 이름의 리스트     df.loc[[row4, row5, row3]]                       0
2     row 이름의 리스트 슬라이싱              df.loc[row2:row5]           df[row2:row5]
3        하나의 column 이름                df.loc[:, col1]                df[col1]
4       column 이름의 리스트  df.loc[:, [col4, col6, col3]]  df[[col4, col6, col3]]
5  column 이름의 리스트 슬라이싱           df.loc[:, col2:col5]                       0