In [1]:
import pandas as pd

In [2]:
two_dimensional_list =[['dongwook',50,86],['sineui',89,31],['ikjoong',68,91],['yoonsoo',88,75]]

In [3]:
my_df = pd.DataFrame(two_dimensional_list) #이름을 따로 지어주지 않아서 컬럼이 0 1 2 로 나오는거
my_df

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [4]:
type(my_df)

pandas.core.frame.DataFrame

In [5]:
my_df = pd.DataFrame(two_dimensional_list,columns=["name","english_score","math_score"],
                    index=["a","b","c","d"]) # 컬럼은 컬럼 개수에 맞게 딱 넣어야함 # 판다스는 row를 인덱스로 부른다.
my_df  # 데이터 프레임은 여러 타입을 넣는게 가능

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [6]:
my_df.index
my_df.columns
my_df.dtypes # 각 컬럼이 어떤 자료형을 가지고 있는지  --> 여기서 각 컬럼은 같은 자료형을 가져야함을 알 수 있다.

name             object
english_score     int64
math_score        int64
dtype: object

In [7]:
# dic로 데이터프레임 만들기 그런데 dic 이랑 set은 index가 없는 순서가 없는 자료구조이다
# 따라서 내가 값을 넣은 순서대로 정렬되서 값이 나오지 않는다. (dic는 key값이 columns 이 된다.)

names=['A','B','C','D']
ages=[10,8,64,8]
lives=['a','b','c','d']

my_dic = {'Name':names , 'Age':ages, 'Live':lives}
my_sql = pd.DataFrame(my_dic,index=[10,11,12,13])
my_sql

   Name  Age Live
10    A   10    a
11    B    8    b
12    C   64    c
13    D    8    d

In [10]:
iphone_df=pd.read_csv('data/iphone.csv') # csv 파일 읽기

In [11]:
type(iphone_df)

pandas.core.frame.DataFrame

In [14]:
# csv 라는건 comma seperate values 즉 콤마로 나누어진 데이터라는 거다.
# csv 파일의 제일 첫번째 줄을 헤더로 인식한다.
# 만일 첫줄에 해더가 없는 경우에는 hearer=None으로 리턴 해줘야함
iphone_as =pd.read_csv('data/iphone.csv', header=None)
iphone_as

               0           1      2    3         4        5
0            NaN         출시일  디스플레이  메모리     출시 버전  Face ID
1       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0       No
2  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0       No
3       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0       No
4  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0       No
5       iPhone X  2017-11-03    5.8  3GB  iOS 11.1      Yes
6      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0      Yes
7  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0      Yes

In [15]:
# csv 파일에서 컬럼(세로줄)을 row이름으로 지정할수 있다.
# index_col 을 col 0 번으로 하라는 거다.
iphone_dd = pd.read_csv('data/iphone.csv', index_col = 0)
iphone_dd

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes